<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <aside th:fragment="sidebar" style="background-color: #4CAF50; color: white; width:150px; height:300px;">
        <style>
            ul {
                padding-left:0;
            }
            li {
                list-style:none;
            }
        </style>
        <h3>メニュー</h3>
        <ul>
            <li><a th:href="@{/}">🏠 ホーム</a></li>
            <li><a th:href="@{/users}">👥 ユーザー一覧</a></li>
            <li><a th:href="@{/users/new}">➕ ユーザー登録</a></li>
        </ul>
    </aside>
</body>
</html>