<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatisbasics.mapper.UserMapper">

    <!-- 全ユーザー取得 -->
    <select id="findAll" resultType="User">
        SELECT id, name, email, created_at
        FROM users
        ORDER BY id
    </select>

    <!-- IDで検索 -->
    <select id="findById" parameterType="Long" resultType="User">
        SELECT id, name, email, created_at
        FROM users
        WHERE id = #{id}
    </select>

    <!-- ユーザー更新 -->
    <update id="update" parameterType="User">
        UPDATE users
        SET name = #{name},
            email = #{email}
        WHERE id = #{id}
    </update>

    <!-- ユーザー削除 -->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM users
        WHERE id = #{id}
    </delete>

    <!-- ユーザー登録（自動採番IDを取得） -->
    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (name, email)
        VALUES (#{name}, #{email})
    </insert>

    <!-- Emailで検索 -->
    <select id="findByEmail" parameterType="String" resultType="User">
        SELECT id, name, email, created_at
        FROM users
        WHERE email = #{email}
    </select>

    <!-- ユーザーの総数を取得 -->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM users
    </select>

    <!-- ユーザ名の部分一致で検索 -->
    <select id="findByNameLike" parameterType="String" resultType="User">
        SELECT id, name, email, created_at
        FROM users
        WHERE name LIKE CONCAT('%', #{name}, '%')
    </select>
</mapper>
